#main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    min-width: 800px;
    min-height: 700px;
    background: #000;
}

#game-name-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    text-align: center;

    width: 700px;
    height: 700px;
    margin: 220px auto;
}

#upper-half-circle {
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    background: #222;
    width: 700px;
    height: 200px;
    border: 2px solid #333;

    margin: 80px auto 0px auto;

}

#middle-part {
    width: 100%;
    height: 0px;
    padding: 50px;
    display: none;
    border: 1px solid #444;
    border-top: transparent;
    border-bottom: transparent;
}

#register-form {
    padding: 14px;
    border: 1px solid #555;
}

#lower-half-circle {
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    background: #222;
    width: 700px;
    height: 200px;
    border: 2px solid #333;

    margin: 80px auto 0px auto;
}


#game-name {
    padding: 15px;
    margin: 0;
    font-size: 50px;
}

#main-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 80px;
    height: auto;
    width: 500px;

    text-align: center;
    font-size: 30px;
    background: black;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 5px solid #666;
}

.menu-option {
    margin: 50px 30px;
    border: 3px solid #333;
    height: 81px;
    padding: 10px;
    text-decoration: none;
    background: #111;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

.menu-option:hover {
    background-color: #ad0b35;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

a {
    display:inline-block;
    width:100%;
    height:100%;
}

a:focus, a:hover {
    color: #0275d8;
    text-decoration: none;
    border: none;

}

#namefield {
    margin-bottom: 30px;
    height: 50px;
    text-align: center;
}

#register-name {
    margin-bottom: 30px;
    font-size: 25px;
}