<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>New game</title>
    <style>
        .hidden {display: none;}
    </style>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-toggleable-md bg-faded">
          <a class="navbar-brand" href="/">Typonaut</a>
    </nav>
    <div id="messagebox" class="hidden"></div>
    <div class="row justify-content-center">
         <div class="namecontainer card col-md-6 col-sm-8 col-lg-4">
            <div class="card-block">
                <div class="card-title">Your nickname for the leaderboard:</div>
                <input type="text" id="namefield">
                <button class="btn btn-primary" onclick="registerName()">Play</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="gamecontent" class="card hidden col-11">
            <div class="card-block">
                <h4 class="card-title" id="quote"></h4>
                <small id="author"></small>
            </div>
            <div class="card-block">
                <input type="text" id="answer" class="col-12">
            </div>

        </div>
    </div>

</div>
<!-- Jquery, thether and bootstrap js -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
    // game logic here
    var startTime = 0;
    var gameObject = {};
    function registerName() {
        name = $("#namefield").val();
        name = name.length < 1? "Anonymous" : name;
        $("#messagebox").text("Your name is set as: " + name);
        $(".namecontainer").fadeOut();
        $("#messagebox").removeClass("hidden");
        setTimeout(function () {
            $("#messagebox").fadeOut();
            setTimeout(function (){
                $("#messagebox").addClass("hidden")
            }, 1000);
        },3000);
        gameObject.name = name;
        console.log(gameObject);
        startGame()
    }
    function startGame() {
        gameUrl = "getquote";
        jQuery.get(gameUrl, function(response){
            console.log(response);
            gameObject.quote = response;
            $("#gamecontent").removeClass("hidden");
            $("#quote").text('"' + gameObject.quote.quote + '"');
            $("#author").text('- ' + gameObject.quote.author);
            $("#answer").focus();
        });
    }
</script>
</body>
</html>