<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typonaut Highscores</title>
    {% load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'style/highscores.css' %}">
</head>
<body>


     <div class="menu-option">
         <a href="../#">BACK TO MAIN MENU</a>
     </div>

     <h1 class="leaderboard">Leaderboard</h1>

    <table style="width:60%; margin:auto; margin-bottom: 50px;"class="table">
        <tr class="header">
            <th>Username</th>
            <th>Time</th>
            <th>Score</th>
        </tr>

        <tr class="gold data">
            <td >{{gold.user_name}}</td>
            <td>{{gold.time}}</td>
            <td>{{gold.score}}</td>
            <td class="medal">
                <img src="{% static 'images/goldme.png' %}">
            </td>

        </tr>
        <tr class="silver data">
            <td>{{silver.user_name}}</td>
            <td>{{silver.time}}</td>
            <td>{{silver.score}}</td>
            <td class="medal">
                <img src="{% static 'images/silver.png' %}" >
            </td>

        </tr>
        <tr class="bronze data">
            <td>{{bronze.user_name}}</td>
            <td>{{bronze.time}}</td>
            <td>{{bronze.score}}</td>
            <td class="medal">
                <img src="{% static 'images/bronze.png' %}">
            </td>

        </tr>
        {%for position in highscores%}
        <tr class="white data">
            <td>{{position.user_name}}</td>
            <td>{{position.time}}</td>
            <td>{{position.score}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>